body {
    margin: 0px;
    background-color: #fff;
    color: #000;
     box-sizing: border-box;
}

.game{
    min-width:200px;
    min-height:200px;
    position:fixed;
    width:70%;
    height:70%;    
}

.board{
    width: 90%;
    height: 90%;       
}

.square {
    float: left;
    width: 25%;
    height: 25%;
    cursor: pointer;
    border-width: 2px;
    border-color: #000;
    will-change: border-color;
}

.square.top {
    border-bottom-style: solid;
}
.square.bottom {
    border-top-style: solid;
}

.square.left {
    border-right-style: solid;
}

.square.right {
    border-left-style: solid;
}

.xRed{
    background: url(tic-tac-toe-X-Red.png);
    background-size:50%;    
    background-repeat:no-repeat;
    background-position:center
}

.oRed{
    background: url(tic-tac-toe-O-Red.png);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:center
}

.xGreen{
    background: url(tic-tac-toe-X-green.png);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:center
}

.oGreen{
    background: url(tic-tac-toe-O-green.png);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:center
}
body {
    background-color: lightblue;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

.score{
    font-size:120px;
    text-align:center;
}
.score .red{
    color:red;
}
.score .green{
    color:green;
}