 body {
	margin: 0;
	padding: 0;
    display: inline-block;
 }
 html { 
  background: url(images/layer4.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 .content {
     width:1300px;
     margin:50px
 }

  #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1300px;
	 height: 1509px; 
	 overflow: hidden;
	 z-index:-1;
     background-color:black;    
} 
#requestSong{
    background: -webkit-linear-gradient(90deg, #ffc603 0%, #fde645 100%);
    background: -moz-linear-gradient(90deg, #ffc603 0%, #fde645 100%);
    background: -o-linear-gradient(90deg, #ffc603 0%, #fde645 100%);
    background: -ms-linear-gradient(90deg, #ffc603 0%, #fde645 100%);
    background: linear-gradient(0deg, #ffc603 0%, #fde645 100%);
    width: 142px;
    height: 33px;
    float: right;
    
}
#Header {
    display: inline-block;
background: -webkit-linear-gradient(90deg, #ffffff 0%, #000000 100%);
background: -moz-linear-gradient(90deg, #ffffff 0%, #000000 100%);
background: -o-linear-gradient(90deg, #ffffff 0%, #000000 100%);
background: -ms-linear-gradient(90deg, #ffffff 0%, #000000 100%);
background: linear-gradient(0deg, #ffffff 0%, #000000 100%);
width: 1300px;
height: 96px;

z-index:5
}
#Logotype {    
    
    width: 109px;
    height: 75px;
    z-index: 4;
}

  .box{
      position: relative;
      margin: 10px;
  }
  .itemList{      
  }
  #NowPlaying{      
      width: 450px;
      height: 450px;
      position: relative;
  }
  #NowPlaying img{
      width:100%;
      
  }

  #img_box{
 width:90%;
 height:90%;
}

    #NowPlaying label  {
        position: absolute;

        width: 100%;
        margin: 0 auto;
        width: 300px;
        height: 50px;
        font-family: ClearSans;
        color: #ffffff;
        font-size: 16px; /* Przybli¿enie (wynika z podstawienia czcionki) */
        font-weight: 400;
        text-align: left;
        z-index: 2;
    }
    #NowPlaying #MailIco {
        top: 10px;
        left: 10px;
        position:absolute;        
    }
    #NowPlaying #Facebook {
        top: 30px;
        left: 10px;
        position:absolute;        
    }
    #NowPlaying #Twitter {
        top: 50px;
        left: 10px;
        position:absolute;        
    }
    #NowPlaying #Like {
        bottom: 100px;
        right: 80px;
        position:absolute;        
    }
    #NowPlaying #Dislike {
        bottom: 60px;
        right: 80px;
        position:absolute;        
    }
    #NowPlaying #Label1 {
        bottom: 55px;        
        font-family: ClearSans;
        color:
        #ffc602;
        font-size: 12px;/* Przybli¿enie (wynika z podstawienia czcionki) */
        font-weight: 300;
        text-align: left;
    }
    #NowPlaying #Label2 {
        bottom: 40px;

        font-family: ClearSans;
        color: #ffffff;
        font-size: 16px; /* Przybli¿enie (wynika z podstawienia czcionki) */
        font-weight: 400;
        text-align: left;
    }
    #NowPlaying #Label3 {
        bottom: 20px;
        font-family: ClearSans;
        color: #ffffff;
        font-size: 24px; /* Przybli¿enie (wynika z podstawienia czcionki) */
        font-weight: 300;
        line-height: 12px; /* Przybli¿enie (wynika z podstawienia czcionki) */
        text-align: left;
    }
  
  #RecentlyPlayed{
          
    background-color:rgba(0, 0, 0, 0.6);
    position: absolute; 
    
    height: auto;
    z-index:1;
    display: inline-block;
    color:white;
  }
#RecentlyBandPic{
    width:75px;
    height:75px;    
    float:left;
    }
  .Column
  {
    margin: 10px 10px;
    background-color:rgba(0, 0, 0, 0.6);
    position: relative; 
    width: 400px;
      vertical-align: top;
    z-index:1;
    display: inline-block;
    color:white;    
  }
#BandPic{
    width:100px;
    height:100px;
    
    float:left;
    }
 #More{
     width: 57px;
    height: 19px;
 }
  h1{
    font-family: ClearSans;
    margin:10px 10px;
    color:#d98000;
    font-size: 22px;/* Przybli¿enie (wynika z podstawienia czcionki) */
    font-weight: 100;
    line-height: 12px;/* Przybli¿enie (wynika z podstawienia czcionki) */
    text-align: left;    
  }
  h2{     
    font-family: ClearSans;
    color: #ffffff;
    font-size: 14px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    font-weight: 400;
    line-height: 12px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    text-align: left;
  }
  h3{
    font-family: ClearSans;
    color: #ffffff;
    font-size: 18px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    font-weight: 300;
    line-height: 12px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    text-align: left;
  }
  h4{
    font-family: ClearSans;
    color: #999999;
    font-size: 11px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    font-weight: 300;
    line-height: 12px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    text-align: left;
  }
  #Column ul li{
      width:380px;
      display: inline-block;
  }
  #ThirdColumn ul li{
      width:380px;
      display: inline-block;
  }
  ul li p *{
      display: block;
  }
  ul
{
    list-style-type: none;
}

  a {
    color: white;
}
  #KFOXLable{
    font-family: ClearSans;
    color: #ffffff;
    font-size: 18px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    font-weight: 300;
    line-height: 12px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    text-align: left;    
  }
  #StationDirectory{
    font-family: ClearSans;
    color: #ffffff;
    font-size: 18px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    font-weight: 300;
    line-height: 12px; /* Przybli¿enie (wynika z podstawienia czcionki) */
    text-align: left;
  }

  ul li div{
       width:250px;
       padding:10px 0px 10px 0px;
  }
    .floatRight {
    float: right;
    }

    .Stop{
           position: relative;
           top: 0px;
        left: 15px;
        z-index:4;
    }
    .Play{
           position: relative;
    }
    .Fastplay{
           position: relative;
           left:-15px;
    }